*,
*::after,
*::before {
  margin: 0;
  border: 0;
}
.App {
  background-color: #fff;
}
.Home {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("./assets/home.jpg");
  height: 100vh;
  width: 100%;
}
.header__home--component1 {
  position: absolute;
  width: 450px;
  height: 150px;
  left: 170px;
  top: 140px;
}
.page2 {
  height: 100vh;
  background-color: #fff;
  position: relative;
}
.header__home--component2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: red;
  position: absolute;
  width: 50%;
  height: 30%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: -15%;
  padding: 1rem;
}
.MuiButton-root {
  border-radius: 0 !important;
  padding-top: 0.2rem !important;
  padding-bottom: 0.2rem !important;
  padding-left: 0.8rem !important;
  padding-right: 0.8rem !important;
}
