*,
*::after,
*::before {
  margin: 0;
  border: 0;
}
.App {
  background-color: #fff;
}
.Home {
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 1 !important;
}
.header__home--component1 {
  position: absolute;
  width: 600px;
  height: 300px;
  left: 170px;
  top: 140px;
}
.page2 {
  height: 20vh;
  background-color: #fff;
  position: relative;
}
.header__home--component2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: red;
  position: absolute;
  width: 50%;
  --component-height: 100%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: -100%;
  padding: 1rem;
}
.page2__card {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}
.page2__headline--container {
  height: "100%";
  width: 100%;
  background: linear-gradient(
      0deg,
      rgba(44, 172, 71, 0.6),
      rgba(44, 172, 71, 0.6)
    ),
    url("./assets/children.jpg");
  padding: 2rem;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  /* margin: 2rem; */
}
.page2__headline--container-text {
  height: 100%;
  width: 100%;
  display: flex;
  padding: 1rem;
  flex-direction: column !important;
  justify-content: center !important;
}
.page3 {
  position: absolute;
  /* width: 100% !important; */
  height: 75vh;
  left: 0px;
  bottom: -25%;
  padding: 2rem;
  background: linear-gradient(
      0deg,
      rgb(255, 255, 255, 0.6),
      rgb(255, 255, 255, 0.6)
    ),
    url("./assets/donation.png");
  background-repeat: no-repeat;
  z-index: -1 !important;
}
.page3__programs {
  position: relative;
  top: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.page3__programs--buttons {
  display: flex;
  flex-direction: column !important;
  justify-content: center;
  /* align-items: flex-start; */
}
.MuiButton-root {
  border-radius: 0 !important;
  padding-top: 0.2rem !important;
  padding-bottom: 0.2rem !important;
  padding-left: 0.8rem !important;
  padding-right: 0.8rem !important;
}
.MuiCard-root {
  border-radius: 0 !important;
}
