*,
*::after,
*::before {
  margin: 0;
  border: 0;
}
.App {
  background-color: #fff;
}
.Home {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("./assets/home.jpg");
  height: 100vh;
  width: 100%;
}
.header__home--component1 {
  position: absolute;
  width: 600px;
  height: 300px;
  left: 170px;
  top: 140px;
}
.page2 {
  height: 22vh;
  background-color: #fff;
  position: relative;
}
.header__home--component2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: red;
  position: absolute;
  width: 50%;
  --component-height: 100%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: -50%;
  padding: 1rem;
}
.page2__container {
  height: 100%;
  margin-top: 1rem;
  /* position: absolute; */
  /* top: calc(var(--component-parent-height)); */
}
.page2__card {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}
.MuiButton-root {
  border-radius: 0 !important;
  padding-top: 0.2rem !important;
  padding-bottom: 0.2rem !important;
  padding-left: 0.8rem !important;
  padding-right: 0.8rem !important;
}
